.pagePlats {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.pagePlats div {
    flex: 1;
}

.btnCont button {
    padding: 10px 25px;
    float: right;
    font-weight: normal;
    border-radius: 15px;
}