.myBtn {
	box-shadow: 1px 1px 5px #979797;
	background-color:#a68c8c;
	border-radius:30px;
	border:1px solid #979797;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	outline: unset;
}
.myBtn:hover {
	background-color:#a98585;
}