.AjouterPage {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ajouterIng {
    flex: 1;
    margin: 0;
}

.ajouterIng h1 {
    font-size: 23px;
}

.ajouterIng hr {
    height: 2.5px;
    background-color: #979797;
    box-shadow: #D5CFCF 2px 2px 4px;
    align-self: flex-end;
    width: 60%;
    margin: 0 auto;
}

.inputIng {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.inputIng div {
    display: none;
}

.inputIng p {
    font-size: 21px;
    margin-right: 100px;
}

.inputIng input {
    width: 280px;
    height: 50px;
    border: solid 0.5px #979797;
    border-radius: 20px;
    box-shadow: #837a7a 2px 2px 4px;
    margin: 0;
}

.btnAjouter {
    flex: 3;
    padding-top: 20px;
    padding-bottom: 10px;
}

.btnAjouter :nth-child(1) {
    margin: 0;
}

@media (min-width: 700px) {
    .ajouterIng {
        margin-right: 200px;
    }

    .ajouterIng hr {
        width: 170px;
        margin-left: 85px;
        height: 2.5px;
        background-color: #979797;
        box-shadow: #D5CFCF 2px 2px 4px;
        align-self: flex-end;
    }

    .inputIng {
        margin-top: 65px;
        align-items: inherit;
    }

    .inputIng div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .inputIng input {
        margin-right: 80px;
        margin-top: 20px;
    }

    .btnAjouter :nth-child(1) {
        margin-right: 80px;
    }
}