.ingrediant {
    width: auto;
    height: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
}

.ingrediant p {
    flex: 3;
    font-size: 18px;
    margin: 0;
}

.ingrediant button {
    margin-right: 50px;
    padding: 5px;
    background-color: unset;
    outline: unset;
    border: unset;
    cursor: pointer;
}

.ingrediant button img {
    width: 20px;
    height: 20px;
}