.menupage {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.BigTitle {
    flex: 1;
}

.BigTitle h1 {
    font-size: 30px;
    text-align: center;
}

.contenue {
    flex: 9;
    display: flex;
    flex-direction: row;
}

.cotéMenu {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.ingrediant {
    flex: 1;
}

.menu {
    flex: 4;
}

.valide {
    flex: 1;
}