.menupage {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.BigTitle {
    flex: 1;
}

.BigTitle h1 {
    font-size: 30px;
    text-align: center;
}

.contenue {
    flex: 12;
    display: flex;
    flex-direction: row;
}

.cotéMenu {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingrediantss {
    flex: 4;
    display: none;
    flex-direction: column;
    box-sizing: content-box;
}

@media (min-width: 700px) {
    .ingrediantss {
        display: flex;
    }
}

@media (max-width: 700px) {
    .cotéMenu .menu {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 5px;
    }
}

@media (min-width :700px) {
    .cotéMenu .menu {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        margin-left: 100px;
    }
}

.valide {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.cotéMenu hr {
    width: 180px;
    margin-left: 200px;
    height: 1.5px;
    background-color: #979797;
    box-shadow: #D5CFCF 1px 1px 4px;
}