.listePlat {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 5px;
    width: auto;
    margin-bottom: 30px;
}

@media (min-width :700px) {
    .listePlat {
        justify-content: flex-start;
        width: 500px;
    }
    .titleType {
        padding-right: 40px !important;
    }
}

.titleType {
    flex: 2;
    margin-left: 0;
    padding-right: 0;
}

.titleType h1 {
    font-size: 18px;
    text-align: start;
    width: 150px;
}

.contenu {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.elements {
    flex: 1;
    flex-flow: row wrap;
}

.listePlats {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}