.NavBar {
    display: none;
    width: 13vw;
    flex-direction: column;
    border-right: 1px solid #ccc;
    height: 100vh;
    background-color: white;
}

@media (min-width: 700px) {
    .NavBar {
        display: flex;
    }
}

.NavBar>button {
    position: absolute;
    left: 1vw;
    top: 1vw;
}

.UserColumn {
    flex: 1;
}

.MenuColumn {
    flex: 2;
}

.LogoutColumn {
    flex: 1;
}

img {
    width: 40px
}

h6 {
    margin: 0;
    padding: 0;
}