.NavBar {
    position: fixed;
    width: 50vw;
    flex-direction: column;
    border-right: 1px solid #ccc;
    height: 100vh;
    background-color: white;
    transition: left 300ms ease-out;
    z-index: 9999;
}

.NavBar.closed {
    left: -50vw;
}

.NavBar.open {
    left: 0;
}

.NavBar>button {
    position: absolute;
    left: 1vw;
    top: 1vw;
}

.UserColumn {
    flex: 1;
}

.MenuColumn {
    flex: 2;
}

.LogoutColumn {
    flex: 1;
}

img {
    width: 40px
}

h6 {
    margin: 0;
    padding: 0;
}

.test {
    position: absolute;
    display: block;
    right: -50px;
    top: 15px;
    width: 30px;
    height: 30px;
}

.test button {
    outline: unset;
    background-color: unset;
    background-color: #eee;
    border: 1px solid #979797;
}

.test img {
    width: 22px;
    height: 27px;
}

.backdoor {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 999;
}

@media (min-width: 700px) {
    .NavBar {
        position: unset;
        display: flex;
        width: 13vw;
    }
    .test {
        display: none;
    }
}