.generer {
    display: grid;
    grid-template-columns: 50px 18% 70px auto 70px 18% 50px;
    grid-template-rows: auto 65% auto;
    height: 100vh;
}

.title {
    grid-column: 1 / 8;
}

.entrees {
    grid-column: 2;
}


.barrier {
    margin: auto;
}

.fork {
    grid-column: 3;
}

.principal {
    grid-column: 4;
}

.split > div {
    float: left;
    width: 45%;
}

.spoon {
    grid-column: 5;
}

.desserts {
    grid-column: 6;
}

.btns {
    grid-column: 1 / 8;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
}

.modal {
    position: fixed;
    top: 20%;
    left: 40%;
    width: 30%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    outline: unset;
}